#movie-image-container,
#tvshow-image-container {
    max-width: 100px;
    background-color: grey;
}
.search-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
}
.btn-icon {
    display: block;
    width: 100px;
    height: 50px;
}
.search-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;
    scrollbar-width: thin;
}
.overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
