.search-result-card {
    display: flex;
    flex-direction: row;
    width: 49%;
    height: fit-content;
    margin: 5px 5px;
}
.person-result-card {
    display: flex;
    height: fit-content;
    width: 19%;
    margin: 5px 5px;
}
#movie-image-container,
#tvshow-image-container {
    max-width: 100px;
    background-color: grey;
}
.search-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
}
.btn-icon {
    display: block;
    width: 100px;
    height: 50px;
}
.search-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;
    overflow-y: auto;
    scrollbar-width: thin;
}
