/* Trending Data */
.trending-data-container {
    width: 65%;
    height: 250px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    margin: 10px 0px;
}
.trending-tile {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    margin: 0px 5px;
    border-radius: 10px;
}
.trending-img {
    height: 100%;
    border-radius: 10px;
    width: 160px;
}
.trending-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: transparent;
    position: absolute;
    text-decoration: none;
}
.trending-link:hover {
    border-radius: 10px;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
}

/* Search Results */
.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 30rem;
}
/* Search Result Card */
.search-results {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    border: grey solid 1px;
    margin: 10px 5px;
    border-radius: 5px;
    position: relative;
}
.image-link-container {
    max-width: 100px;
    background-color: grey;
    text-decoration: none;
}
.search-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
}
.btn-icon {
    display: block;
    width: 100px;
    height: 50px;
}
.search-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-width: thin;
}
.search-title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 0.3rem;
    background-color: blue;
    color: white;
}
.search-release-overview-container {
    width: 100%;
    height: 100%;
}
.search-overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* Person Result */

.people-search-results-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 30rem;
    width: 100%;
    height: 100%;
}
.person-search-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0.5rem;
    border-radius: 5px;
    border: grey solid 1px;
}
.person-image-container {
    width: 100%;
    height: 100%;
}
.person-search-img {
    display: block;
    height: 100%;
    width: 100%;
}
.person-search-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.person-name {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 0.3rem;
    width: 100%;
    background-color: blue;
    color: white;
    text-decoration: none;
}
