/* variables */
:root {
    --large-title-font-size: 1.6rem;
    --medium-title-font-size: 1.4rem;
    --small-title-font-size: 1.2rem;
    --paragraph-font-size: 0.8rem;
}
.fullscreen {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 5rem 15rem;
}
/* Movie/TV Fullscreen */
.fullscreen-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.fullscreen-img {
    height: 100%;
    width: auto;
}
.fullscreen-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.fullscreen-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fullscreen-title {
    width: 100%;
    color: white;
    background-color: blue;
    text-align: center;
    font-size: var(--large-title-font-size);
}
.fullscreen-list-info {
    display: flex;
    width: fit-content;
    align-items: center;
    /* padding: 0.5rem; */
}
.fullscreen-release-date {
    margin: 0px 0.5rem;
    font-size: var(--paragraph-font-size);
}
.ball {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
    margin: 0px 5px;
}
.fullscreen-genre {
    display: flex;
    width: fit-content;
    font-size: var(--paragraph-font-size);
}
.fullscreen-genre p {
    margin: 0px 0.3rem;
    font-size: var(--paragraph-font-size);
}
.fullscreen-rating {
    display: flex;
    width: fit-content;
    align-items: center;
}
.fullscreen-vote {
    font-size: var(--paragraph-font-size);
    display: flex;
}
.average-score-title {
    margin: 0px 0.1rem;
}
.fullscreen-vote {
    margin: 0px 0.2rem;
}
.add-remove-button {
    margin: 0px 0.2rem;
}
.fullscreen-production {
    display: flex;
    width: fit-content;
}
.fullscreen-overview {
    padding: 0.5rem;
}
.company-name {
    font-size: var(--paragraph-font-size);
    margin: 0.3rem;
}
.add-remove-button {
    display: block;
    background-color: unset;
    border: unset;
}
/* review cast button */
.review-cast-btn-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0.3rem;
}
.review-cast-toggle-button {
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    width: 150px;
    border-radius: 5px;
    height: 1.5rem;
}
.fullscreen-toggle-btn {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    border: unset;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cast-btn {
    border-right: 1px solid white;
}
.cast-btn:not(.review-cast-active):hover,
.review-btn:not(.review-cast-active):hover {
    background-color: green;
}
.cast-btn.review-cast-active,
.review-btn.review-cast-active {
    background-color: red;
}
/* reviews */
.fullscreen-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5rem;
}
.fullscreen-review {
    width: 100%;
    height: 100%;
}
.review-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.fullscreen-review p {
    font-size: var(--paragraph-font-size);
}
.fullscreen-review h5 {
    font-weight: unset;
}

/* cast and crew */

.fullscreen-cast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
.cast-credit {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
.cast-img-container {
    position: relative;
    width: 100%;
    height: fit-content;
    flex: 1 0 60%;
}
.cast-img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cast-btn-icon-container {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cast-btn-icon {
    display: block;
    width: 50%;
    height: 50%;
}
.cast-role {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 2rem;
    margin: 0;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.cast-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: transparent;
    text-decoration: none;
}
.cast-name:hover {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: rgba(37, 37, 37, 0.65);
}

/* People Fullscreen */
.person-fullscreen-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.person-info {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.1rem;
}
.person-info-div {
    display: flex;
}
.person-info-title {
    margin: 0 0.4rem;
}
.person-biography {
    position: relative;
    display: flex;
    height: 30vh;
    width: 100%;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.person-credits {
    padding: 0 0.5rem;
}
.person-bio-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;
    scrollbar-width: thin;
}
.person-fullscreen-cast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 0 0.5rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-snap-type: y mandatory;
}
.person-credit {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
.person-cast-img-container {
    position: relative;
    width: 100%;
    height: fit-content;
    flex: 1 0 60%;
}
.person-credit-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.person-cast-role {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 1.8rem;
    margin: 0;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
/* Person Images Tab */
.person-fullscreen-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
.person-img {
    display: block;
    width: auto;
    height: 100%;
    scroll-snap-align: center;
}
