/* variables */
:root {
    --large-title-font-size: 1.6rem;
    --medium-title-font-size: 1.4rem;
    --small-title-font-size: 1.2rem;
    --paragraph-font-size: 0.8rem;
}
.fullscreen {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Movie/TV Fullscreen */
.fullscreen-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 700px;
    box-shadow: 1px 1px 5px black;
}
.fullscreen-img {
    height: 100%;
    width: auto;
    min-width: 32.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.fullscreen-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-right: solid 1px var(--dark-theme);
    background-color: var(--lighter-dark-theme);
    border-bottom: solid 1px var(--dark-theme);
}
.fullscreen-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: var(--lighter-dark-theme);
}
.fullscreen-title {
    width: 100%;
    background-color: var(--dark-theme);
    text-align: center;
    font-size: var(--large-title-font-size);
}
.fullscreen-list-info {
    display: flex;
    width: fit-content;
    align-items: center;
}
.fullscreen-release-date {
    margin: 0px 0.5rem;
    font-size: var(--paragraph-font-size);
}
.ball {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
    margin: 0px 5px;
}
.fullscreen-genre {
    display: flex;
    width: fit-content;
    font-size: var(--paragraph-font-size);
}
.fullscreen-genre p {
    margin: 0px 0.3rem;
    font-size: var(--paragraph-font-size);
}
.fullscreen-rating {
    display: flex;
    width: fit-content;
    align-items: center;
}
.fullscreen-vote {
    font-size: var(--paragraph-font-size);
    display: flex;
}
.average-score-title {
    margin: 0px 0.1rem;
}
.fullscreen-vote {
    margin: 0px 0.2rem;
}
.fullscreen-production {
    display: flex;
    width: fit-content;
}
.fullscreen-overview {
    padding: 0.5rem;
    font-size: 1.2rem;
    position: relative;
}
.fullscreen-overview-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.company-name {
    font-size: var(--paragraph-font-size);
    margin: 0.3rem;
}
.add-remove-button {
    display: block;
    background-color: unset;
    border: unset;
    margin: 0px 0.2rem;
}
/* review cast button */
.review-cast-btn-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--lighter-dark-theme);
}
.review-cast-toggle-button {
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
}
.fullscreen-toggle-btn {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color-not-selected);
    border: unset;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cast-btn {
    border-right: 1px solid black;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#review-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.cast-btn:not(.review-cast-active):hover,
.review-btn:not(.review-cast-active):hover {
    background-color: var(--lighter-dark-theme);
}
.cast-btn.review-cast-active,
.review-btn.review-cast-active {
    background-color: var(--text-colour-selected);
    color: var(--lighter-dark-theme);
}
/* reviews */
.fullscreen-reviews {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1.1rem;
    width: 100%;
    height: 100%;
    min-height: 330px;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}
.fullscreen-reviews div {
    width: inherit;
    height: inherit;
    position: relative;
}
.fullscreen-review {
    width: 100%;
    height: fit-content;
}
.review-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.fullscreen-review p {
    font-size: 1rem;
}
.fullscreen-review h5 {
    font-weight: unset;
}
.fullscreen-review h4 {
    font-size: 1.2rem;
}

/* cast and crew */

.fullscreen-cast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0.3rem 1.2rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--lighter-dark-theme);
    scroll-snap-type: y mandatory;
}
.cast-credit {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 99%;
    height: 99%;
    scroll-snap-align: center;
    box-shadow: 1px 1px 5px black;
}
.cast-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cast-btn-icon-container {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cast-btn-icon {
    display: block;
    width: 50%;
    height: 50%;
}
.cast-role {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0;
    text-align: center;
    background-color: var(--dark-theme);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.cast-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: transparent;
    text-decoration: none;
    z-index: 200;
}
.cast-name:hover {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: rgba(37, 37, 37, 0.65);
}

/* People Fullscreen */
.person-fullscreen-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 1440px;
    max-height: 700px;
    background-color: var(--lighter-dark-theme);
}
.person-info {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.1rem;
}
.person-info-div {
    display: flex;
}
.person-info-title {
    margin: 0 0.4rem;
}
.person-biography {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 1.2rem;
}
.person-credits {
    padding: 0 0.5rem;
}
.person-bio-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Person Movie Cast */
.person-fullscreen-cast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.1rem;
    padding: 0.3rem 1.5rem;
    width: 100%;
    height: 100%;
    min-height: 335px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    background-color: var(--lighter-dark-theme);
}
.person-credit {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 99%;
    height: 99%;
    scroll-snap-align: center;
    box-shadow: 1px 1px 5px black;
}
.person-credit-img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.person-cast-role {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0;
    text-align: center;
    background-color: var(--dark-theme);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Person Images Tab */
.person-fullscreen-images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.1rem;
    padding: 0.3rem 1.5rem;
    width: 100%;
    height: 100%;
    min-height: 335px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    background-color: var(--lighter-dark-theme);
}
.person-img-container {
    position: relative;
    width: 99%;
    height: 99%;
    scroll-snap-align: center;
    cursor: pointer;
}
.person-img {
    width: 100%;
    height: 100%;
}
.person-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: transparent;
    width: 100%;
    height: 100%;
}
.person-img-hover:hover {
    color: white;
    background-color: rgba(37, 37, 37, 0.65);
}
.person-expand-btn-icon {
    font-size: 5rem;
}
/* Modal Fullscreen */
.modal-biography-hidden {
    z-index: 250;
    width: 100%;
    height: 100%;
    display: none;
}
.modal-biography-active {
    z-index: 250;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.95);
    padding: 0 20rem;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-biography {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 80%;
    overflow-y: auto;
    scrollbar-width: thin;
}
.model-exit-btn {
    width: 5rem;
    background: unset;
    border: unset;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.model-btn-icon {
    display: block;
    font-size: 2.5rem;
    color: red;
}
/* img Modal Fullscreen */
.modal-img-hidden {
    z-index: 250;
    width: 100%;
    height: 100%;
    display: none;
}
.modal-img-active {
    z-index: 250;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.95);
    padding: 0 20rem;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.model-img-exit-btn {
    width: 5rem;
    background: unset;
    border: unset;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.model-btn-icon {
    display: block;
    font-size: 2.5rem;
    color: red;
}
.review-modal-expand-btn {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    z-index: 200;
    background: unset;
    border: unset;
    cursor: pointer;
}
.person-bio-expand-btn {
    position: absolute;
    right: 1rem;
    bottom: -2rem;
    z-index: 200;
    background: unset;
    border: unset;
    cursor: pointer;
}
.expand-btn {
    position: absolute;
    border: unset;
    background: unset;
    cursor: pointer;
    right: 1rem;
}
.expand-icon {
    font-size: 2rem;
    color: white;
}
/* mobile portrait */
@media screen and (max-width: 450px) and (orientation: portrait) {
}
/* Mobile Landscape */
@media screen and (max-width: 926px) and (orientation: landscape) {
    .fullscreen {
        padding: 0.5rem;
    }
    .fullscreen-card {
        max-width: unset;
        max-height: unset;
    }
}
