#people-fullscreen-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "img profile"
        "img biography";
    width: 50%;
    max-height: 750px;
    border: black solid 1px;
}
#people-fullscreen-img {
    grid-area: img;
    max-width: 500px;
}
#people-biography {
    grid-area: biography;
}
#people-info {
    grid-area: profile;
}
