#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    background-color: #fffcff;
    background-color: var(--less-dark-theme);
}
.section {
    width: 75%;
    height: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.section-title {
    position: relative;
    font-size: 1.8rem;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: white;
}
.section-title:before,
.section-title:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: "\a0";
    background-color: var(--text-color-not-selected);
}
.section-title:before {
    margin-left: -50%;
    text-align: right;
}
.homepage-render-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.7rem;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    visibility: hidden;
}
#popular {
    margin-top: 1.2rem;
}
#popular-container:hover {
    visibility: visible;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    background-color: var(--lighter-dark-theme);
}
#top-rated-container:hover {
    visibility: visible;
    box-shadow: 1px 1px 5px black;
    background-color: var(--lighter-dark-theme);
    border-radius: 5px;
}
#watchlist-container:hover {
    visibility: visible;
    box-shadow: 1px 1px 5px black;
    background-color: var(--lighter-dark-theme);
    border-radius: 5px;
}
/* CAROUSEL COMPONENT CLASSES  */
.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    visibility: unset;
}
/* carousel rendered card */
.carousel-card {
    position: absolute;
}
.carousel-card.active-card {
    transform: translateX(0);
}
.carousel-card.previous-card {
    transform: translateX(-200%);
}
.carousel-card.next-card {
    transform: translateX(200%);
}
.previous-btn {
    position: absolute;
    left: -10px;
    top: 150px;
    z-index: 300;
    background-color: unset;
    border: unset;
}
.next-btn {
    position: absolute;
    right: -10px;
    top: 150px;
    z-index: 300;
    background-color: unset;
    border: unset;
}
.previous-next-icon {
    color: white;
    font-size: 2rem;
}
/* homepage rendered card */
.render-card {
    visibility: visible;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
    min-width: 15%;
    max-width: 210px;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 10px black;
    background-color: var(--lighter-dark-theme);
    color: white;
}
.render-card:hover {
    background-color: var(--text-colour-selected);
    color: var(--dark-theme);
}
.render-card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    color: transparent;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.render-card-link:hover {
    height: 90%;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    background-color: rgba(37, 37, 37, 0.65);
}
.render-card-link h3 {
    font-size: 1.8rem;
}
.render-img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.render-vote {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.render-icon {
    display: block;
    font-size: 1.2rem;
    color: gold;
    margin: 0px 5px;
}

/* Remove from watchlist button */
.remove-from-wishlist {
    position: absolute;
    z-index: 200;
    right: -7px;
    top: -7px;
    background-color: white;
    border: unset;
    border-radius: 100%;
}
.remove-icon {
    display: block;
    color: red;
    font-size: 2rem;
    cursor: pointer;
}
.remove-icon:hover {
    color: green;
}
.add-icon {
    display: block;
    color: blue;
    font-size: 2rem;
    cursor: pointer;
}
.add-icon:hover {
    color: green;
}
#watchlist-empty {
    color: white;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Movie TV Toggle Button */
.toggle-button-group {
    display: flex;
    flex-direction: row;
    width: 10rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.toggle-btn {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color-not-selected);
    border: unset;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.movie-toggle {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px black solid;
    cursor: pointer;
}
.tv-toggle {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.movie-toggle:not(.active):hover,
.tv-toggle:not(.active):hover {
    background-color: var(--lighter-dark-theme);
}
.movie-toggle.active,
.tv-toggle.active {
    background-color: var(--text-colour-selected);
    color: var(--lighter-dark-theme);
}
/* Iphone 5 portrait */
@media screen and (max-width: 320px) and (orientation: portrait) {
    #app-container {
        gap: 0;
    }
    #homepage {
        gap: 0.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        overflow-y: auto;
        justify-content: flex-start;
        scroll-snap-type: y mandatory;
    }
    .section {
        width: 100%;
        height: 100%;
        min-height: 150px;
        padding: 0;
        scroll-snap-align: center;
    }
    #popular,
    #rated,
    #watchlist {
        margin: 0;
    }
    .toggle-button-group {
        width: 7rem;
        align-self: center;
    }
    .toggle-btn {
        font-size: 1rem;
    }
    .render-card {
        min-width: 220px;
        max-width: 220px;
        min-height: 330px;
        max-height: 330px;
    }
    /* .render-img {
        height: 297px;
    }
    .render-vote {
        height: 33px;
    } */
    .render-card-link:hover {
        color: transparent;
        background-color: transparent;
    }
}
/* Iphone 5 landscape */
@media screen and (max-width: 568px) and (orientation: landscape) {
    #app-container {
        gap: 0;
    }
    #homepage {
        gap: 0.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0.5rem;
        overflow-y: auto;
        justify-content: flex-start;
        scroll-snap-type: y mandatory;
    }
    .section {
        width: 100%;
        height: 100%;
        gap: 0.4rem;
        padding: 0;
        scroll-snap-align: center;
    }
    #popular,
    #rated,
    #watchlist {
        margin: 0;
    }
    .section-title-container {
        height: 1.7rem;
    }
    .section-title {
        font-size: 1.4rem;
    }
    #popular-container:hover,
    #top-rated-container:hover,
    #watchlist-container:hover {
        visibility: visible;
        box-shadow: 1px 1px 5px transparent;
        border-radius: 5px;
        background-color: transparent;
    }
    .homepage-render-container {
        padding: 0.5rem;
        gap: 0.7rem;
    }
    .toggle-button-group {
        width: 7rem;
        align-self: center;
    }
    .toggle-btn {
        font-size: 1rem;
    }
    .render-card {
        min-width: 20%;
        max-width: 114px;
        height: 95%;
    }
    .render-card-link:hover {
        color: transparent;
        background-color: transparent;
    }
}
