#homepage {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". popular popular ." ". rated rated ." ". watchlist watchlist .";
}
.section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section h2 {
    align-self: center;
}
#popular {
    grid-area: popular;
}
#rated {
    grid-area: rated;
}
#watchlist {
    grid-area: watchlist;
}
.homepage-render-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 33vh;
    padding: 5px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}
.render-card {
    display: flex;
    flex-direction: column;
    margin: 0px 3px;
    width: 15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
.render-card-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 91%;
    width: 100%;
    color: transparent;
    position: absolute;
    text-decoration: none;
}
.render-card-link:hover {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
}
.render-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.render-vote {
    width: 100%;
}

/* Remove from watchlist button */
.remove-from-wishlist {
    position: absolute;
    right: -12px;
    top: -7px;
    background-color: white;
    border: unset;
    border-radius: 100%;
}
.remove-icon {
    display: block;
    color: red;
    font-size: 2rem;
    cursor: pointer;
}
.remove-icon:hover {
    color: green;
}
.add-icon {
    display: block;
    color: blue;
    font-size: 2rem;
    cursor: pointer;
}
.add-icon:hover {
    color: green;
}

/* Movie TV Toggle Button */
.toggle-button-group {
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    width: 150px;
    border-radius: 5px;
}
.toggle-btn {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    border: unset;
    color: white;
    font-size: 1.2rem;
}
.movie-toggle {
    border-right: 1px white solid;
}
.movie-toggle:hover {
    background-color: red;
}
.tv-toggle:hover {
    background-color: red;
}
