#fullscreen-watchlist-root-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fullscreen-watchlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fullscreen-watchlist-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.fullscreen-watchlist-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.fullscreen-watchlist-head {
    display: flex;
    align-items: center;
}

/* Sorting bar */

.sorting-selection {
    display: flex;
    width: 40rem;
    border: black solid 1px;
}
.date-rating-alpha-sorting {
    width: 70%;
    display: flex;
}
.date-rating-alpha-selection {
    width: 100%;
    background: unset;
    font-size: 1.2rem;
    border: unset;
    text-align: center;
}
.view-selection {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 30%;
}
.view-selection p {
    font-size: 1.2rem;
    align-self: center;
}
.view-btn-container {
    display: flex;
}
.view-btn {
    background: unset;
    border: unset;
}
.view-btn:hover {
    color: blue;
}
.view-btn-icon {
    width: 100%;
    height: 100%;
    font-size: 2rem;
}

/* Watchlist Card */

/* Card Style */
.card-active {
    visibility: visible;
    display: flex;
    flex-direction: column;
    width: 15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 10px black;
}
/* .card-active:hover {
    width: 30%;
} */
.watchlist-card-info {
    width: 100%;
    height: 100%;
}
.watchlist-card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    color: transparent;
    text-decoration: none;
}
.watchlist-card-link:hover {
    font-size: 1.4rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color: rgba(37, 37, 37, 0.65);
}
.watchlist-card-img {
    min-height: 90%;
    max-height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.watchlist-card-overview-vote-container {
    width: 100%;
    height: 100%;
}
.watchlist-card-overview {
    display: none;
}
.watchlist-card-vote {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: blue;
}
.watchlist-card-icon {
    display: block;
    font-size: 1.2rem;
    color: gold;
    margin: 0px 5px;
}

/* List Style */

.list-active {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    border: grey solid 1px;
    margin: 10px 5px;
    border-radius: 5px;
    position: relative;
}
.watchlist-list-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: auto;
}
.watchlist-list-info {
    width: 100%;
    height: 100%;
}
.watchlist-list-link h3 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.3rem;
    background-color: blue;
    color: white;
    text-decoration: none;
}
.watchlist-list-vote {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.watchlist-list-overview {
    display: unset;
}
.watchlist-list-icon {
    display: inline-block;
    font-size: 1.2rem;
    color: gold;
    margin: 0px 5px;
}
