#fullscreen-watchlist-root-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}
#fullscreen-watchlist-flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    overflow-y: auto;
}
#fullscreen-watchlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.fullscreen-watchlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    gap: 1rem;
    padding: 1rem;
}
.empty-watchlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}
.fullscreen-watchlist-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.fullscreen-watchlist-head {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}
.watchlist-title-container {
    width: 75%;
}
/* Sorting bar */

.sorting-selection {
    width: 50%;
    min-height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lighter-dark-theme);
    padding: 0 5rem;
}
.sorting-options-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    background-color: var(--lighter-dark-theme);
    box-shadow: 1px 1px 5px black;
}
.date-rating-alpha-sorting {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    gap: 3px;
    background-color: white;
}
.date-rating-alpha-selection {
    width: 100%;
    background: unset;
    font-size: 1.2rem;
    border: unset;
    text-align: center;
}
#date-rating-alpha:hover {
    background-color: var(--text-color-not-selected);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
}
#date-rating-alpha:focus {
    outline: 3px var(--focus-outline-light) solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 200;
}
#ascending-descending:hover {
    background-color: var(--text-color-not-selected);
    color: white;
}
#ascending-descending:focus {
    outline: 3px var(--focus-outline-light) solid;
    z-index: 200;
}
.view-selection {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: white;
    height: 100%;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.view-selection p {
    font-size: 1.2rem;
    align-self: center;
}
.view-btn-container {
    display: flex;
}
.view-btn {
    background: unset;
    border: unset;
    color: var(--less-dark-theme);
    cursor: pointer;
}

.view-btn-icon {
    width: 100%;
    height: 100%;
    font-size: 2rem;
}

/* Watchlist Card */

/* Card Style */
.card-active {
    visibility: visible;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
    min-width: 15%;
    max-width: 210px;
    height: 100%;
    max-height: 351px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 10px black;
    background-color: var(--lighter-dark-theme);
    color: white;
}
.card-active:hover {
    background-color: var(--text-colour-selected);
    color: var(--dark-theme);
}
.watchlist-card-info {
    width: 100%;
    height: 100%;
}
.watchlist-card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    color: transparent;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.watchlist-card-link:hover {
    height: 90%;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    background-color: rgba(37, 37, 37, 0.65);
}
.watchlist-card-img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.watchlist-card-overview-vote-container {
    width: 100%;
    height: 100%;
}
.watchlist-card-overview {
    display: none;
}
.watchlist-card-vote {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.watchlist-card-icon {
    display: block;
    font-size: 1.2rem;
    color: gold;
    margin: 0px 5px;
}

/* List Style */

.list-active {
    display: flex;
    flex-direction: row;
    width: 65vw;
    min-width: 1225px;
    height: 100%;
    min-height: 225px;
    border-radius: 5px;
    position: relative;
    background-color: var(--lighter-dark-theme);
    color: white;
    box-shadow: 1px 1px 5px black;
}
.watchlist-list-img-link {
    min-width: 180px;
    max-width: 180px;
    height: 100%;
    background-color: grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
}
.watchlist-list-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
}
.watchlist-list-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-width: thin;
}
.watchlist-list-link {
    text-decoration: none;
}
.watchlist-list-link h3 {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 1rem;
    background-color: var(--dark-theme);
    color: white;
}
.watchlist-list-link h3:hover {
    background-color: var(--text-colour-selected);
    color: var(--dark-theme);
}
.watchlist-list-vote {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.watchlist-list-overview-vote-container {
    padding: 1rem;
    font-size: 1.2rem;
}
.watchlist-list-overview {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.watchlist-list-icon {
    display: inline-block;
    font-size: 1.2rem;
    color: gold;
    margin: 0px 5px;
}
