#person-result-card {
    display: flex;
    height: fit-content;
    width: 19%;
    margin: 5px 5px;
}
#person-search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 5px;
    border: grey solid 1px;
}
