/* Movie Result */
#movie-search-results {
    display: flex;
    flex-direction: row;
    width: 49%;
    height: 150px;
    border: grey solid 1px;
    margin: 10px 5px;
    border-radius: 5px;
    position: relative;
}
.movie-link {
    text-decoration: none;
}
/* TV Result */
#tvshow-search-results {
    display: flex;
    flex-direction: row;
    width: 49%;
    height: 150px;
    border: grey solid 1px;
    margin: 10px 5px;
    border-radius: 5px;
    position: relative;
}
.tv-link {
    text-decoration: none;
}
/* Person Result */
#person-result-card {
    display: flex;
    height: fit-content;
    width: 19%;
    margin: 5px 5px;
}
#person-search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 5px;
    border: grey solid 1px;
}
