#tvshow-search-results {
    display: flex;
    flex-direction: row;
    width: 49%;
    height: 150px;
    border: grey solid 1px;
    margin: 10px 5px;
    border-radius: 5px;
    position: relative;
}
.tv-link {
    text-decoration: none;
}
