/* searchbar form container */
#title-searchbar {
    width: 100%;
    min-height: 5rem;
    background-color: var(--less-dark-theme);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* searchbar container */
.title-bar {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--lighter-dark-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
/* Search input bar */
.search-input-container {
    display: flex;
    width: 50%;
    height: 42%;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    background-color: var(--less-dark-theme);
}
#title-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 95%;
    height: 100%;
    font-size: 1.2rem;
    border: unset;
    text-align: center;
}
#title-input:focus,
#title-input:focus + #search-btn {
    outline: var(--text-color-not-selected) solid 3px;
    z-index: 200;
}
#search-btn {
    border: unset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 15%;
    min-width: 30px;
    background-color: var(--less-dark-theme);
    color: white;
    cursor: pointer;
}
.search-btn-icon {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.4rem;
}
/* category btn group */
.category-btn-container {
    width: 15rem;
    height: 42%;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    background-color: var(--text-color-not-selected);
}
.category-btn {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--text-color-not-selected);
    color: white;
    border: unset;
    cursor: pointer;
}
.category-btn:focus {
    outline: var(--focus-outline-light) solid 3px;
    z-index: 200;
}
#category-movie-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#category-people-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.category-movie-btn:not(.category-active):hover,
.category-tv-btn:not(.category-active):hover,
.category-people-btn:not(.category-active):hover {
    background-color: var(--lighter-dark-theme);
}
.category-movie-btn.category-active,
.category-tv-btn.category-active,
.category-people-btn.category-active {
    background-color: var(--text-colour-selected);
    color: var(--lighter-dark-theme);
}
/* Clear Button */
#clear-search-btn {
    background-color: red;
    border: black solid 1px;
    border-radius: 5px;
    width: 4rem;
    height: 42%;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 1px 1px 3px rgb(15, 15, 15);
    cursor: pointer;
}
#clear-search-btn:hover {
    background-color: rgb(156, 0, 0);
}
/* mobile portrait */
@media screen and (max-width: 450px) and (orientation: portrait) {
    #title-searchbar {
        padding: 0.5rem;
    }
    .title-bar {
        width: 100%;
        height: 100%;
        min-height: 80px;
        min-width: 308px;
        padding: 0.3rem;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .search-input-container {
        width: 100%;
        max-width: 375px;
        min-width: 295px;
    }
    .category-btn-container {
        width: 60%;
        max-width: 200px;
        min-width: 160px;
    }
    .category-btn {
        font-size: 1rem;
    }
    #clear-search-btn {
        font-size: 1rem;
    }
}
/* mobile landscape */
@media screen and (max-width: 926px) and (orientation: landscape) {
    #title-searchbar {
        padding: 0.5rem 0;
        height: 60px;
        min-height: 60px;
    }
    .title-bar {
        width: 90%;
        min-width: 511px;
        max-width: 680px;
        height: 50px;
        padding: 0.5rem;
    }
    .search-input-container {
        height: 100%;
    }
    .category-btn-container {
        height: 100%;
    }
    .category-btn {
        font-size: 1rem;
    }
    #clear-search-btn {
        font-size: 1rem;
        height: 100%;
    }
}
