#navbar {
    width: 100vw;
    background-color: var(--dark-theme);
}
#navbar-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: center;
}
#navbar-list li {
    margin: 0px 15px;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 800;
}
.nav-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}
.link-icon {
    display: block;
    font-size: 1.4rem;
}
/* added or removed from watchlist */
#display {
    width: 100%;
    position: relative;
}
#watchlist-alert {
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 1.1rem;
}
#watchlist-alert.added {
    background-color: rgb(110, 197, 110);
}
#watchlist-alert.removed {
    background-color: rgb(231, 112, 112);
}
