#navbar {
    width: 100vw;
    background-color: var(--dark-theme);
    z-index: 200;
}
#navbar-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: center;
}
#navbar-list li {
    margin: 0px 15px;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 800;
    height: 32px;
}
.nav-link {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--text-colour-selected);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
.nav-link::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.nav-link:hover::after,
.nav-link:focus::after {
    transform: scale(1);
}
.search-icon-link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-icon {
    display: block;
    font-size: 1.4rem;
}
/* added or removed from watchlist */

#watchlist-alert {
    position: absolute;
    z-index: 200;
    top: 9px;
    right: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 35%;
    color: white;
    font-size: 1.1rem;
}
#watchlist-alert.added {
    background-color: var(--text-colour-selected);
}
#watchlist-alert.removed {
    background-color: rgb(231, 112, 112);
}
/* mobile landscape */
/* @media screen and (max-width: 926px) and (orientation: landscape) {
    #watchlist-alert {
        align-items: center;
        top: 0;
        width: 100%;
        right: 0;
        height: 3rem;
    }
} */
