/* Trending Data */
.trending-movie-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--less-dark-theme);
}
.search-trending-title-container {
    min-width: 1100px;
    width: 65%;
}
.search-trending-title {
    position: relative;
    font-size: 1.8rem;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: white;
}
.search-trending-title:before,
.search-trending-title:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: "\a0";
    background-color: var(--text-color-not-selected);
}
.search-trending-title:before {
    margin-left: -50%;
    text-align: right;
}
.trending-data-container {
    width: 65vw;
    min-width: 1100px;
    padding: 0.6rem;
    gap: 0.6rem;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    visibility: hidden;
}
.trending-data-container:hover {
    visibility: visible;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    background-color: var(--lighter-dark-theme);
}
.trending-tile {
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 15%;
    max-width: 210px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.trending-img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.trending-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: transparent;
    position: absolute;
    text-decoration: none;
    text-align: center;
}
.trending-link:hover {
    border-radius: 5px;
    color: white;
    font-size: 1.4rem;
    background-color: rgba(37, 37, 37, 0.65);
}
/* Carousel Trending */
.trending-carousel-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* Search Results */
.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--less-dark-theme);
}
.showing-results-for {
    color: white;
    font-size: 1.8rem;
}

/* Search Result Card */
.search-results {
    display: flex;
    flex-direction: row;
    width: 65vw;
    min-width: 1225px;
    height: 95%;
    min-height: 225px;
    border-radius: 5px;
    position: relative;
    background-color: var(--lighter-dark-theme);
    color: white;
    box-shadow: 1px 1px 5px black;
}
.image-link-container {
    min-width: 160px;
    max-width: 160px;
    height: 100%;
    background-color: grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
}
.search-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
}
.btn-icon {
    display: block;
    width: 100px;
    height: 50px;
    color: white;
}
.search-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-width: thin;
}
.search-title {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 1rem;
    background-color: var(--dark-theme);
    color: white;
    text-decoration: none;
}
.search-title:hover {
    background-color: var(--text-colour-selected);
    color: var(--dark-theme);
}
.search-release-overview-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}
.search-overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* Person Result */

.people-search-results-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}
.people-search-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    min-width: 55vw;
}
.person-search-results-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 300px;
    min-height: 300px;
    max-width: 500px;
    min-width: 500px;
    border-radius: 5px;
    position: relative;
    background-color: var(--lighter-dark-theme);
    color: white;
    box-shadow: 1px 1px 5px black;
}
.person-image-container {
    min-width: 200px;
    max-width: 200px;
    background-color: grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.person-search-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
}
.person-search-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: White;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.person-name {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 1rem;
    width: 100%;
    background-color: var(--dark-theme);
    color: white;
    text-decoration: none;
}
.person-name:hover {
    background-color: var(--text-colour-selected);
    color: var(--dark-theme);
    border-top-right-radius: 5px;
}
.person-known-role-container {
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
}
.person-known-for {
    font-size: 1.2rem;
    font-weight: 600;
}
.known-for-role {
    font-size: 1.2rem;
    display: flex;
    gap: 0.4rem;
}
/* mobile portrait */
@media screen and (max-width: 450px) and (orientation: portrait) {
    /* Trending Data */
    .search-trending-title-container {
        width: 100%;
        min-width: 0;
    }
    .trending-data-container {
        min-width: 0;
    }
    .trending-tile {
        width: 70%;
        max-width: unset;
    }
    .trending-carousel-container {
        height: 100%;
    }
    /* Search Results */
    .search-results-container {
        padding: 1rem;
        gap: 1rem;
    }
    .showing-results-for {
        font-size: 1.4rem;
    }
    .search-results {
        width: 100%;
        min-width: 0;
    }
    .search-title {
        font-size: 1.1rem;
        padding: 0 0.2rem;
    }
    .search-release-overview-container {
        padding: 0.2rem;
        font-size: 1rem;
        gap: 0;
    }
    .search-overview {
        height: 100%;
    }
}
/* mobile landscape */
@media screen and (max-width: 926px) and (orientation: landscape) {
    /* Trending Data */
    .search-trending-title-container {
        width: 95%;
        min-width: 0;
    }
    .search-trending-title {
        font-size: 1.4rem;
    }
    .trending-movie-container {
        padding: 0rem;
        overflow: hidden;
    }
    .trending-data-container {
        width: 95%;
        padding: 0;
        min-width: 0;
    }
    .trending-data-container:hover {
        box-shadow: 1px 1px 5px transparent;
        background-color: transparent;
    }
    .trending-tile {
        width: 100%;
        min-width: 19%;
    }
    /* Search Results */
    .search-results-container {
        padding: 0.5rem;
        gap: 1rem;
    }
    .showing-results-for {
        font-size: 1.4rem;
    }
    .search-results {
        width: 95%;
        min-width: 0;
    }
    .search-title {
        font-size: 1.2rem;
        padding: 0 0.2rem;
    }
    .search-release-overview-container {
        padding: 0.2rem;
        font-size: 1rem;
        gap: 0;
    }
    .search-overview {
        height: 100%;
    }
}
