/* Variables */
:root {
    --variable: black;
    --dark-theme: #1b2634;
    --less-dark-theme: #253240;
    --lighter-dark-theme: #3b4856;
    --text-colour-selected: #20e28c;
    --text-color-not-selected: #6e7782;
    --focus-outline-light: #878d94;
    --card-title-font-size: 1.2rem;
}
/* Root */
* {
    padding: 0;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}
.hidden-label {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}
/* App Container */
#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--less-dark-theme);
    overflow: hidden;
}
/* Search Container */
#search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

/*  Fullscreen information */
.fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
@media screen and (max-width: 450px) and (orientation: portrait) {
    #search-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 85%;
        justify-items: center;
        height: 100%;
        padding: 0.5rem 0;
    }
}
@media screen and (max-width: 926px) and (orientation: landscape) {
    #search-container {
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
    }
}
